.image {
  @mixin light {
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086);
    /* 0 100px 80px rgba(0, 0, 0, 0.12); */
  }

  @mixin dark {
    box-shadow: 0 2.8px 2.2px rgba(128, 94, 3, 0.034),
      0 6.7px 5.3px rgba(128, 94, 3, 0.048),
      0 12.5px 10px rgba(128, 94, 3, 0.06),
      0 22.3px 17.9px rgba(128, 94, 3, 0.072),
      0 41.8px 33.4px rgba(128, 94, 3, 0.086); /* , 0 100px 80px rgba(209, 154, 5, 0.12); */
  }

  border-radius: 5px;
}

.codeHighlight {
  text-wrap: pretty;
}
